<nav class="navbar navbar-expand-md navbar-dark">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
    Course Pages &gt;&gt;
  </button>     
  <div class="collapse navbar-collapse" id="navbarCollapse">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" href="{{ site.baseurl }}/">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{{ site.baseurl }}/syllabus/">Syllabus</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{{ site.baseurl }}/schedule/">Schedule</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{{ site.baseurl }}/assignments/">Assignments</a>
      </li>
    </ul>
  </div>
</nav>