---
layout: bare
---
<div class="container py-4">
    <div class="bd-callout bd-callout-{% if page.title contains 'Theory' %}warning{% elsif page.title contains 'Programming' %}danger{% else %}info{% endif %}">
        <div class="d-flex justify-content-between">
            <h5 class="mb-1">{{ page.title }}</h5>
            <div class="text-right">
                <small>Registration: <span class="text-secondary">{{ page.cbtf.register | date: "%A, %B %d" }}</span></small>
                <br>
                <small>Start: <span class="text-secondary">{{ page.cbtf.start | date: "%A, %B %d" }}</span></small>
                <br>
                <small>End: <span class="text-secondary">{{ page.cbtf.end | date: "%A, %B %d" }}</span></small>
            </div>
        </div>
        {{ content }}
    </div>
</div>